@font-face {
  font-family: 'Radio Grotesk';
  src: local('Radio Grotesk'), local('Radio-Grotesk'),
  url('../assets/fonts/Radio Grotesk Regular 400.otf') format('otf'),
  url('../assets/fonts/Radio Grotesk Regular 400.woff') format('woff'),
  url('../assets/fonts/Radio Grotesk Regular 400.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}