@import "fonts";
@import "reset";
@import "mixins";

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: Radio Grotesk;
  font-size: 14px;
}

button {
  cursor: pointer;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}